/* src/index.css */
/* Bootstrap Import */
@import 'bootstrap/dist/css/bootstrap.min.css';

/* Custom styles (Optional) */
body {
  font-family: sans-serif;
  background: #fff;
  padding: 0;
  margin: 0;
  color: #333;
}
